    <!-- Imagen -->
     <section id="home">
        <section id="home">
            <div class="row">
                <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']" > 
                    <div class="owl-theme home-slider">
                        <div class="item item-modificarempleado">
                            <div class="caption">
                                <div class="container">
                                    <div class="col-md-6 col-sm-12">
                                        <h1 class="textocarrusel">Operaciones de empleados</h1>
                                        <h3 class="textocarrusel">Ingresa los datos en el formulario para registrar a un nuevo empleado. Puedes ingresar el código de un empleado existente para obtener su información. Si modificas algún dato presiona "modificar" para guardar los cambios.</h3>
                                    </div>         
                                </div>
                            </div>
                        </div>
                    </div>
                </owl-carousel>
            </div>
        </section>
    </section>




    <div id="principal">
        <div id="titulo" class="section-tittle" align="center" style="margin-top: 70px;">
            <h2>Formulario</h2>
        </div>
        <div id="media">
            <div id="formu" align="center" style="margin-bottom: 70px">
                <br>
                <br>
                <form id="registroEmpleado" class="entry-form" method="post">
                    <input type="text" name="id" placeholder="ID" class="form-control" [(ngModel)] = "empleado.id">
                    <input type="text" name="Nombre" placeholder="NOMBRE" class="form-control" [(ngModel)] = "empleado.Nombre">
                    <input type="text" name="Apellido1" placeholder="PATERNO" class="form-control" [(ngModel)] = "empleado.Apellido1">
                    <input type="text" name="Apellido2" placeholder="MATERNO" class="form-control" [(ngModel)] = "empleado.Apellido2">
                    <input type="text" name="Direccion" placeholder="DIRECCIÓN" class="form-control" [(ngModel)] = "empleado.Direccion">
                    <input type="text" name="Telefono" placeholder="TELÉFONO" class="form-control" [(ngModel)] = "empleado.Telefono">
                        <div>
                            <select name="Estado" id="Estado" [(ngModel)] = "empleado.Estado">
                                <option value="Activo">Activo</option>
                                <option value="Inactivo">Inactivo</option>
                            </select>
                        </div>
                    <input type="text" name="Usuario" placeholder="USUARIO" class="form-control" [(ngModel)] = "usuario.Usuario">
                    <input type="password" name="Contrasena" placeholder="CONTRASEÑA" class="form-control" [(ngModel)] = "usuario.Contrasena">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <input class="btn btn-warning botonguardar" type="button" name="guardar" id="guardar" checked (click)="guardarEmp();guardarUsu()" value="Guardar">
                        <input type="button" name="buscar" id="buscar" class="btn btn-warning botonbuscar" value="Buscar" (click) = "buscarEmp();" value="Buscar">
                        <input type="button" name="options3" id="option3" class="btn btn-warning botonmodificar" value="Modificar" (click) = "modificarEmp()">
                    </div>   
                </form>
            </div>
        </div>
    </div>