<p>empleado works!</p>

Código:<input type="text"> <br>
Nombre:<input type="text" > <br>
Apellido paterno:<input type="text" > <br>
Apellido materno:<input type="text" > <br>
Dirección:<input type="text" > <br>
Teléfono:<input type="text" > <br>
Estado:<input type="text" > <br>
Usuario:<input type="text" > <br>
Contraseña:<input type="password" > <br>
Tipo:<input type="text" > <br>

<input type="button" value="Buscar" >
<input type="button" value="Guardar" >
<input type="button" value="Eliminar">
<input type="button" value="Modificar" >
<input type="button" value="Cosultar todo">

<table>
    <tr>
        <td>Código</td>
        <td>Nombre</td>
        <td>Apellido Materno</td>
        <td>Apellido Parterno</td>
        <td>Dirección</td>
        <td>Teléfono</td>
        <td>Estado</td>
        <td>Usuario</td>
        <td>Contraseña</td>
        <td>Tipo</td>
    </tr>

    <!--<tr *ngFor="let emp of empleados | async">
        <td>{{emp.IDem}}</td>
        <td>{{emp.Nombre}}</td>
        <td>{{emp.Apellido1}}</td>
        <td>{{emp.Apellido2}}</td>
        <td>{{emp.Direccion}}</td>
    </tr>-->

    
</table>
