<!-- HOME -->
 <section id="home">
     <section id="home">
          <div class="row">
                    <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']" > 
                      <div class="owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        
                                   </div>
                              </div>
                         </div>
                        </div>
                         <div class="owl-theme home-slider">
                         <div class="item item-second">
                              <div class="caption">
                                   <div class="container">
                                        
                                   </div>
                              </div>
                         </div>
                        </div>

                         <div class="owl-theme home-slider">
                         <div class="item item-third">
                              <div class="caption">
                                   <div class="container">
                                        
                                   </div>
                              </div>
                         </div>
                        </div>
                    </owl-carousel>
          </div>
     </section>
</section>

<section id="feature">
    <div class="container">
         <h2 style="margin:1em; text-align: center;">Agenda una cita desde tu hogar</h2>
         <div class="row">

              <div class="col-md-4 col-sm-4">

                   <div class="feature-thumb">
                        <span>01</span>
                        <h3>Registrate</h3>
                        <p>Registrate como cliente acudiendo a nuestro taller.</p>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="feature-thumb">
                        <span>02</span>
                        <h3>Ingresa tus datos.</h3>
                        <p>Completa tu cuenta registrando tu vehiculo en nuestra base de datos.</p>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="feature-thumb">
                        <span>03</span>
                        <h3>Crea tu cita</h3>
                        <p>Elije tu vehiculo y crea una cita reservando la hora
                        y la fecha que deceas.</p>
                   </div>
              </div>

         </div>
    </div>
</section>

 <!-- ABOUT -->
 <section id="about">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-12">
                   <div class="about-info">
                        <h2>Dedicados al servicio eléctrico automotriz en general</h2>

                        <figure>
                             <span><i class="fa fa-users"></i></span>
                             <figcaption>
                                  <h3>Misión</h3>
                                  <p>Somos una empresa que proporciona herramientas y reparación de vehículos para el buen funcionamiento de los mismos.</p>
                             </figcaption>
                        </figure>

                        <figure>
                             <span><i class="fa fa-certificate"></i></span>
                             <figcaption>
                                  <h3>Visión</h3>
                                  <p>Convertirnos en uno de los  más grandes referentes en la reparación de vehículos, basados en una mejor calidad de servicio.</p>
                             </figcaption>
                        </figure>

                        <figure>
                             <span><i class="fa fa-bar-chart-o"></i></span>
                             <figcaption>
                                  <h3>Valores</h3>
                                  <p>Trabajo en equipo: Compañerismo y respeto. Responsabilidad y compromiso: Entregar en tiempo y forma.
Confidencialidad: Seguridad al momento de hacer nuestro trabajo.
Servicio: Cumplir con las tareas que se establecieron.</p>
                             </figcaption>
                        </figure>
                   </div>
              </div>

              <div class="col-md-offset-1 col-md-4 col-sm-12">
                   <div class="entry-form">
                        <form>
                            
                             <h2>Inicia sesión</h2>

                             <input type="text" class="form-control" name="Usuario" [(ngModel)]="usuario.Usuario" placeholder="USUARIO">

                             <input type="password" class="form-control" name="Contrasena" [(ngModel)]="usuario.Contrasena" placeholder="CONTRASEÑA">

                             <button class="submit-btn form-control" id="form-submit" (click)="login()">Iniciar Sesión</button>
                        </form>
                   </div>
              </div>

         </div>
    </div>
</section>

  <!-- TEAM -->
  <section id="team">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h2>Productos <small>Solo te ofrecemos las mejores marcas</small></h2>
                   </div>
              </div>

              <div class="col-md-3 col-sm-6">
                   <div class="team-thumb">
                        <div class="team-image">
                             <img src="https://i.ibb.co/xSM1ZXr/LTH-Automotriz-Front-2019.png" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                             <img src="./assets/img/LTH.png" class="logo">
                        </div>
                        <ul class="social-icon">
                             <li><a href="https://www.lth.com.mx/es-mx/baterias-para-autos" target="_blank"><h1 class="icon-link"></h1></a></li>
                        </ul>
                   </div>
              </div>

              <div class="col-md-3 col-sm-6">
                   <div class="team-thumb">
                        <div class="team-image">
                             <img src="https://i.ibb.co/HxcKmr9/5028213-1.png" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                             <img class="logo" src="./assets/img/AMERICA.png">
                        </div>
                        <ul class="social-icon">
                             <li><a href="http://autobaterias.com.mx/america.htm" target="_blank"><h1 class="icon-link"></h1></a></li>
                        </ul>
                   </div>
              </div>

              <div class="col-md-3 col-sm-6">
                   <div class="team-thumb">
                        <div class="team-image">
                             <img src="https://i.ibb.co/rMJ83MV/optima-rosaaa.png" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <img class="logo" src="./assets/img/OPTIMA.png">
                        </div>
                        <ul class="social-icon">
                             <li><a href="https://www.optimabatteries.com.mx/es-mx" target="_blank"><h1 class="icon-link"></h1></a></li>
                        </ul>
                   </div>
              </div>

              <div class="col-md-3 col-sm-6">
                   <div class="team-thumb">
                        <div class="team-image">
                             <img src="https://i.ibb.co/wQHstqk/a11.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                             <img src="./assets/img/CRONOS.png" class="logo">
                        </div>
                        <ul class="social-icon">
                             <li><a href="http://autobaterias.com.mx/crenos.htm" target="_blank"><h1 class="icon-link"></h1></a></li>
                        
                        </ul>
                   </div>
              </div>

         </div>
    </div>
</section>
<!-- TESTIMONIAL -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="section-title">
          <h2>Reviews <small>comenarios de nuestros clientes</small></h2>
        </div>
        <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
          <div class="owl-client">
            <div class="col-md-4 col-sm-4">
              <div class="item">
                <div class="tst-image">
                  <img src="https://i.ibb.co/2Yc3Fw4/facebook.png" class="img-responsive" alt="">
                </div>
                <div class="tst-author">
                  <h4>Gerardo Frias</h4>
                  <span></span>
                </div>
                <p>Exelente servicio, cumplió con todas mis expectativas, recomendado y el ingeniero muy amable.</p>
                <div class="tst-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div><!-- div col-md-4 col-sm-4 -->
            <div class="col-md-4 col-sm-4">
              <div class="item">
                <div class="tst-image">
                  <img src="https://i.ibb.co/2Yc3Fw4/facebook.png" class="img-responsive" alt="">
                </div>
                <div class="tst-author">
                  <h4>Camila</h4>
                  <span>Marketing Manager</span>
                </div>
                <p>Trying something new is exciting! Thanks for the amazing law course and the great teacher who was able to make it interesting.</p>
                <div class="tst-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div><!-- div col-md-4 col-sm-4 -->
            <div class="col-md-4 col-sm-4">
              <div class="item">
                <div class="tst-image">
                  <img src="https://i.ibb.co/2Yc3Fw4/facebook.png" class="img-responsive" alt="">
                </div>
                <div class="tst-author">
                  <h4>Barbie</h4>
                  <span>Art Director</span>
                </div>
                <p>Donec erat libero, blandit vitae arcu eu, lacinia placerat justo. Sed sollicitudin quis felis vitae hendrerit.</p>
                <div class="tst-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div><!-- div col-md-4 col-sm-4 -->
            <div class="col-md-4 col-sm-4">
              <div class="item">
                <div class="tst-image">
                  <img src="https://i.ibb.co/2Yc3Fw4/facebook.png" class="img-responsive" alt="">
                </div>
                <div class="tst-author">
                  <h4>Andrio</h4>
                  <span>Web Developer</span>
                </div>
                <p>Nam eget mi eu ante faucibus viverra nec sed magna. Vivamus viverra sapien ex, elementum varius ex sagittis vel.</p>
                <div class="tst-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div><!-- div col-md-4 col-sm-4 -->
          </div><!-- div owl-carousel owl-theme owl-client -->
        </owl-carousel>
      </div><!-- div col-md-12 col-sm-12 -->
    </div><!-- div row -->
  </div><!-- div container -->
</section><!-- section testimonial -->

   <!-- SCRIPTS -->
   <script src="./js/jquery.js"></script>
   <script src="./js/bootstrap.min.js"></script>
   <script src="./js/owl.carousel.min.js"></script>
   <script src="./js/smoothscroll.js"></script>
   <script src="./js/custom.js"></script>