
     <!-- Imagen -->
     <section id="home">
        <section id="home">
            <div class="row">
                <owl-carousel [options]="SlideOptions" [items]="Images" [carouselClasses]="['owl-theme', 'sliding']" > 
                    <div class="owl-theme home-slider">
                        <div class="item item-indexclientes">
                            <div class="caption">
                                <div class="container">
                                    <div class="col-md-6 col-sm-12">
                                        <h1>Clientes</h1>
                                        <h3>Aqui encontrarás la información de los clientes registrados</h3>
                                    </div>         
                                </div>
                            </div>
                        </div>
                    </div>
                </owl-carousel>
            </div>
        </section>
    </section>


     <!-- MENU -->
     


    <div id="principal">
        <div id="titulo" class="section-tittle" align="center" style="margin-top: 70px;">
            <h2>&nbsp</h2>
        </div>
        <div id="media">
            <div id="formu" align="center" style="margin-bottom: 70px">
                <br>
                <br>
                <form id="registroCliente" class="entry-form" method="post">
                    
                    <input type="text" name="id" placeholder="ID" class="form-control" id="id" [(ngModel)] = "cliente.id">
                    <input type="text" name="Nombre" placeholder="NOMBRE" class="form-control" id="Nombre" [(ngModel)] = "cliente.Nombre">
                    <input type="text" name="Apellido1" placeholder="PATERNO" class="form-control" id="Apellido1" [(ngModel)] = "cliente.Apellido1">
                    <input type="text" name="Apellido2" placeholder="MATERNO" class="form-control" id="Apellido2" [(ngModel)] = "cliente.Apellido2">
                    <input type="text" name="Direccion" placeholder="DIRECCIÓN" class="form-control" id="Direccion" [(ngModel)] = "cliente.Direccion">
                    <input type="text" name="Telefono" placeholder="TELÉFONO" class="form-control" id="Telefono" [(ngModel)] = "cliente.Telefono">
                    <div>
                        <select name="Estado" id="Estado" [(ngModel)] = "cliente.Estado">
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                    <input type="text" name="Usuario" placeholder="USUARIO" class="form-control" id="Usuario" [(ngModel)] = "usuario.Usuario">
                    <input type="password" name="Contrasena" placeholder="CONTRASEÑA" class="form-control" id="Contrasena" [(ngModel)] = "usuario.Contrasena">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <input class="btn btn-primary btn-negro texto-gris" type="button" name="options1" id="option1" checked (click)="guardarCliente();guardarUsuario()" value="Guardar">
                        <input type="button" name="options2" id="option2" class="btn btn-warning" value="Eliminar" (click) = "consultarCliente()" value="Buscar">
                        <input type="button" name="options3" id="option3" class="btn btn-warning" value="Modificar" (click) = "modificarCliente()">
                        <input class="btn btn-primary btn-negro texto-gris" type="button" name="options3" id="option3" checked (click)="buscarTodosClientes()" value="Mostrar lista">
                    </div>   
                </form>
            </div>
        </div>
    </div>

    <div id="principal" *ngIf="tabla">
        <div id="tabla-principal" >
            <div id="tabla-contenedor" >
                <div id="tabla-tabla" >
                    <div class="table-responsive" *ngIf="tabla">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><h4>ID</h4></td>
                                    <td><h4>Nombre</h4></td>
                                    <td><h4>Apellido paterno</h4></td>
                                    <td><h4>Apellido materno</h4></td>
                                    <td><h4>Dirección</h4></td>
                                    <td><h4>Telefono</h4></td>
                                    <td><h4>Estado</h4></td>
                                </tr> 
                            </thead>
                            <tbody *ngFor = "let cl of clientes | async">
                                <tr>
                                    <td> {{cl.id}} </td>
                                    <td> {{cl.Nombre}} </td>
                                    <td> {{cl.Apellido1}} </td>
                                    <td> {{cl.Apellido2}} </td>
                                    <td> {{cl.Direccion}} </td>
                                    <td> {{cl.Telefono}} </td>
                                    <td> {{cl.Estado}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
